@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(to right, #fdc468e6, #df4996);
    --youtube: hsl(348, 97%, 39%);
    --theme: hsl(230, 22%, 74%);
    --text-theme: hsl(230, 22%, 74%);

    --border: 2px solid black;

    --bg: hsl(0, 0%, 100%);
    --pattern: hsl(225, 100%, 98%);
    --card-bg: hsl(227, 47%, 96%);
    --greyish-blue: hsl(228, 12%, 14%);
    --dark-blue: hsl(230, 17%, 14%);
    --text: hsl(0, 12%, 10%);
    --card-hover: hsl(228, 26%, 87%);
    --switch-bg: var(--bg);
    --left: 37px;

    --font-size: 14px;
    --font-weight-light: 400;
    --font-weight-bold: 700;
    --font-family: 'Inter', sans-serif;
}

[data-theme = "dark"]{
    --bg: hsl(230, 17%, 14%);
    --pattern: hsl(232, 19%, 15%);
    --card-bg: hsl(228, 28%, 20%);
    --card-hover: hsl(232, 20%, 31%);
    --switch-bg: black;
    --text: hsl(0, 0%, 100%);
    --left: 3px;
    --theme: linear-gradient(#378fe6, #3eda82);
    --border: 2px solid white;
    --text-theme: hsl(160, 1%, 57%);
}


body{
    width: 100%;
    height: 100vh;
    width: 100%;
    height: 100%;
    background: var(--bg);
    transition: all .3s linear;
}

.background{
    background: var(--pattern);
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.dashboard{
    padding: 60px 150px;
    position: relative;
    z-index: 1;
}

.dashboard-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.dashboard-header-title h1{
    font-size: 35px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 5px;
    color: var(--text);
}

.dashboard-header-title h3{
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--text);
}

.theme{
    display: flex;
    align-items: center;
    gap: 10px;
}

.theme h3{
    font-size: 14px;
    color: var(--text-theme);
    font-weight: 500;
}

.switch{
    width: 60px;
    height: 25px;
    border-radius: 25px;
    background: var(--theme);
    position: relative;
    cursor: pointer;
}

.circle{
    width: 20px;
    height: 20px;
    background-color: var(--switch-bg);
    position: absolute;
    top: .155rem;
    left: var(--left);
    border-radius: 100%;
    transition: all .3s linear;
}

.dashboard-container{
    height: 650px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 300px;
    gap: 80px;
}

.dashboard-info{
    grid-row: 1/2;
    display: grid;
    height: 100%;
    place-items: center;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.info-card{
    width: 100%;
    height: 100%;
    background-color: var(--card-bg);
    text-align: center;
    position: relative;
    padding: 30px 0;
    border-radius: 5px;
}

.info-card:hover{
    background-color: var(--card-hover);
}

.info-card:nth-child(1)::before{
    content: "";
    width: 100%;
    height: 8px;
    background: var(--facebook);
    position: absolute;
    left: 0;
    top: -5px;
    border-radius: 5px 5px 0 0;
}

.info-card:nth-child(2)::before{
    content: "";
    width: 100%;
    height: 8px;
    background: var(--twitter);
    left: 0;
    top: -5px;
    position: absolute;
    border-radius: 5px 5px 0 0;
}
.info-card:nth-child(3)::before{
    content: "";
    width: 100%;
    height: 8px;
    background: var(--instagram);
    left: 0;
    top: -5px;
    position: absolute;
    border-radius: 5px 5px 0 0;
}
.info-card:nth-child(4)::before{
    content: "";
    width: 100%;
    height: 8px;
    background: var(--youtube);
    left: 0;
    top: -5px;
    position: absolute;
    border-radius: 5px 5px 0 0;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
    color: var(--text);
}

.followers{
    margin-bottom: 10px;
}

.followers h1{
    font-size: 40px;
    margin-bottom: 5px;
    color: var(--text);
}

.followers p{
    font-size: 20px;
    letter-spacing: .23rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--text);
}

.info-card .up{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.info-card .up p{
    color: var(--lime-green);
    font-size: 14px;
    font-weight: var(--font-weight-bold);
}

.info-card .down{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.info-card .down p{
    color: var(--bright-red);
    font-size: 14px;
    font-weight: var(--font-weight-bold);
}

.dashboard-overview{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    grid-template-rows: 30px 1fr;
}

.dashboard-overview-header h1{
    font-size: 35px;
    color: var(--text);
}

.dashboard-overview-container{
    display: grid;
    height: 100%;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.overview-card{
    width: 100%;
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 5px;
}

.overview-card:hover{
    background-color: var(--card-hover);
}

.overview-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    color: var(--text);
}

.overview-card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
}

.overview-card-content .up{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.overview-card-content .up p{
    color: var(--lime-green);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size);
}

.overview-card-content .down{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.overview-card-content .down p{
    color: var(--bright-red);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size);
}

.attribution{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--pattern);
    color: var(--text);
}

.attribution a{
    color: var(--text);
    margin-left: 5px;
}

@media only screen and (max-width: 768px) {
    .dashboard{
        padding: 30px 20px;
    }

    .dashboard-header{
        flex-direction: column;
    }

    .dashboard-header-title{
        width: 100%;
        border-bottom: var(--border);
        padding-bottom: 20px;
    }

    .dashboard-header-title h1{
        font-size: 25px;
    }

    .theme{
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
    }

    .dashboard-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .dashboard-info{
        display: flex;
        flex-direction: column;
    }

    .dashboard-overview{
        display: flex;
        flex-direction: column;
    }

    .dashboard-overview-container{
        display: flex;
        flex-direction: column;
    }

    .attribution{
        font-size: 12px;
    }
}